.App {
  text-align: center;
  padding-top: 10vh;
  height: max-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.note-container {
  background-color: lightgrey;
  height: 600px;
} 

.note-header {
  background-color: rgb(248, 219, 91);
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.sidebar {
  background-color: blanchedalmond;
  padding: 15px;
  text-align: center;
  height: 600px;
}

.note-list-item {
  cursor: pointer;
}

.main {
  background-color: lightgray;
  padding: 20px;
  text-align: left;
}

.note-item {
  padding: 15px;
  white-space: pre-wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
